[Unit]
Description=USB Bluetooth Adapter setup (hotpluggable)
Requires=bluetooth.service
After=bluetooth.service
[Service]
Type=simple
ExecStart=/usr/bin/btusbstart %i
[Install]
WantedBy=opentrons.target
