# Installs any python packages that were in a just-installed update in zipped form to
# a new magic directory.
[Unit]
Description=Install deferred python packages
Before=jupyter-notebook.service
Wants=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /var/system-packages/usr/lib/python3.12/site-packages
RemainAfterExit=yes
TimeoutStartSec=5m

[Install]
WantedBy=basic.target juypter-notebook.service
