# Installs any python packages that were in a just-installed update in zipped form to
# a new magic directory.
[Unit]
Description=Install deferred python packages

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /var/system-packages/usr/lib/python3.12/site-packages

[Install]
WantedBy=jupyter-notebook.service
WantedBy=basic.target
