[Unit]
Description=Opentrons: Run user-supplied boot scripts
Requires=basic.target
After=basic.target

[Service]
Type=oneshot
StandardOutput=journal
ExecStart=/bin/run-parts /var/data/boot.d/

[Install]
WantedBy=opentrons.target