[Unit]
Description=Opentrons: Ensure system wired connections
Before=NetworkManager.service
Requires=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
StandardOutput=journal
ExecStart=mkdir -p /var/lib/NetworkManager/system-connections; cp /usr/share/default-connections/* /var/lib/NetworkManager/system-connections/

[Install]
WantedBy=NetworkManager.service