CONFIG_RTC_DRV_RV3028=y

## these options below reduce the size of the kernel ##

# gaming input devices
CONFIG_INPUT_MOUSEDEV=n
CONFIG_INPUT_JOYDEV=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_INPUT_MISC=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_INPUT_EVDEV=n
CONFIG_GAMEPORT=n

# display modules
CONFIG_AUXDISPLAY=n
FB_TFT=n

# file systems
CONFIG_REISERFS_FS=n
CONFIG_JFS_FS=n
CONFIG_XFS_FS=n
CONFIG_GFS2_FS=n
CONFIG_OCFS2_FS=n
CONFIG_BTRFS_FS=n
CONFIG_NILFS2_FS=n
CONFIG_F2FS_FS=n
CONFIG_AUTOFS4_FS=n
CONFIG_FUSE_FS=n
CONFIG_MISC_FILESYSTEMS=n

# misc
CONFIG_HAMRADIO=n
CONFIG_WIMAX=n
CONFIG_NET_9P=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_UEVENT_HELPER=n
CONFIG_OF_CONFIGFS=n
CONFIG_LOGO=n
CONFIG_LCD_CLASS_DEVICE=n
CONFIG_BACKLIGHT_RPI=n
CONFIG_BACKLIGHT_GPIO=n
CONFIG_DRM=n

# kernel optimizations
CONFIG_ELF_CORE=n
CONFIG_BUG=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_PRINTK=n
CONFIG_PROFILING=n
CONFIG_BLK_DEBUG_FS=n
