# remove features from kernel here

CONFIG_BLK_DEV_INITRD=n
CONFIG_PARTITION_ADVANCED=n
CONFIG_PROFILING=n
CONFIG_BLK_DEBUG_FS=n
CONFIG_HAMRADIO=n
CONFIG_CAN=n
CONFIG_BT=n
CONFIG_MAC80211=n
CONFIG_CFG80211=n
CONFIG_WIMAX=n
CONFIG_RFKILL=n
CONFIG_NET_9P=n
CONFIG_NFC=n
CONFIG_ALLOW_DEV_COREDUMP=n
CONFIG_UEVENT_HELPER=n
CONFIG_OF_OVERLAY=n
CONFIG_OF_CONFIGFS=n
CONFIG_RC_CORE=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_LOGO=n
CONFIG_LCD_CLASS_DEVICE=n
CONFIG_BACKLIGHT_RPI=n
CONFIG_BACKLIGHT_GPIO=n
CONFIG_DRM=n
CONFIG_DRM_UDL=n
CONFIG_DRM_TINYDRM=n
CONFIG_TINYDRM_REPAPER=n
CONFIG_TINYDRM_MI0283QT=n
CONFIG_DRM_VC4=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_DRM_LOAD_EDID_FIRMWARE=n
CONFIG_MD=n
CONFIG_INPUT_MISC=n
CONFIG_INPUT_TOUCHSCREEN=n
CONFIG_INPUT_JOYSTICK=n
CONFIG_INPUT_JOYDEV=n
CONFIG_INPUT_EVDEV=n
CONFIG_INPUT_MOUSEDEV=n
CONFIG_INPUT_LEDS=n
CONFIG_PPS=n
CONFIG_GPIO_STMPE=n
CONFIG_GPIO_ARIZONA=n
CONFIG_W1=n
CONFIG_WATCHDOG=n
CONFIG_BCMA=n
CONFIG_SOUND=n

CONFIG_USB_SUPPORT=n
CONFIG_RTC_CLASS=n
##CONFIG_DMADEVICES=n  ## boot failure, used by SOUND and CRYPTO
CONFIG_AUXDISPLAY=n
CONFIG_STAGING=n
CONFIG_IIO=n
CONFIG_BMP280=n
CONFIG_PWM=n
CONFIG_REISERFS_FS=n
CONFIG_JFS_FS=n
CONFIG_XFS_FS=n
CONFIG_GFS2_FS=n
CONFIG_OCFS2_FS=n
CONFIG_BTRFS_FS=n
CONFIG_NILFS2_FS=n
CONFIG_F2FS_FS=n
CONFIG_FILE_LOCKING=n
CONFIG_PRINT_QUOTA_WARNING=n
CONFIG_QFMT_V1=n
CONFIG_QFMT_V2=n
CONFIG_AUTOFS4_FS=n
CONFIG_FUSE_FS=n
CONFIG_OVERLAY_FS=n
CONFIG_ISO9660_FS=n
CONFIG_UDF_FS=n
CONFIG_MSDOS_FS=n
CONFIG_NTFS_FS=n
CONFIG_MISC_FILESYSTEMS=n
CONFIG_NETWORK_FILESYSTEMS=n
CONFIG_NLS_CODEPAGE_737=n
CONFIG_NLS_CODEPAGE_775=n
CONFIG_NLS_CODEPAGE_850=n
CONFIG_NLS_CODEPAGE_852=n
CONFIG_NLS_CODEPAGE_855=n
CONFIG_NLS_CODEPAGE_857=n
CONFIG_NLS_CODEPAGE_860=n
CONFIG_NLS_CODEPAGE_861=n
CONFIG_NLS_CODEPAGE_862=n
CONFIG_NLS_CODEPAGE_863=n
CONFIG_NLS_CODEPAGE_864=n
CONFIG_NLS_CODEPAGE_865=n
CONFIG_NLS_CODEPAGE_866=n
CONFIG_NLS_CODEPAGE_869=n
CONFIG_NLS_CODEPAGE_936=n
CONFIG_NLS_CODEPAGE_950=n
CONFIG_NLS_CODEPAGE_932=n
CONFIG_NLS_CODEPAGE_949=n
CONFIG_NLS_CODEPAGE_874=n
CONFIG_NLS_ISO8859_8=n
CONFIG_NLS_CODEPAGE_1250=n
CONFIG_NLS_CODEPAGE_1251=n
CONFIG_NLS_ISO8859_1=n
CONFIG_NLS_ISO8859_2=n
CONFIG_NLS_ISO8859_3=n
CONFIG_NLS_ISO8859_4=n
CONFIG_NLS_ISO8859_5=n
CONFIG_NLS_ISO8859_6=n
CONFIG_NLS_ISO8859_7=n
CONFIG_NLS_ISO8859_8=n
CONFIG_NLS_ISO8859_9=n
CONFIG_NLS_ISO8859_13=n
CONFIG_NLS_ISO8859_14=n
CONFIG_NLS_ISO8859_15=n
CONFIG_NLS_KOI8_R=n
CONFIG_NLS_KOI8_U=n

CONFIG_ELF_CORE=n
CONFIG_BUG=n
CONFIG_AIO=n
CONFIG_CC_OPTIMIZE_FOR_SIZE=y
CONFIG_HID=n
#CONFIG_NET=n
CONFIG_PRINTK=n
CONFIG_GAMEPORT=n
CONFIG_SERIO=n
#CONFIG_SERIO_RAW=n
#CONFIG_SERIO_SERPORT=n
